* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui;
}

.top-bar {
    background-color: #004997;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.top-bar .location {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.top-bar .location p {
    margin-bottom: 0;
}

.location span {
    cursor: pointer;
}

.top-bar .sales-info {
    flex: 1;
    text-align: right;
    padding-right: 20px;
    align-items: center;

}

.top-bar .sales-info p {
    margin-bottom: 0;
}

.account-actions {
    display: flex;
    gap: 10px;
}

.account-btn,
.pay-btn {
    background-color: #99CC33;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    height: 80px;
    border-bottom: 1px solid #003A80;
}

.logo img {
    width: 120px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 100px;
    margin-left: auto;
    margin-bottom: 0;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.menu ul li span a {
    background-color: #004997;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
}

/* *********Banner **********/

#bannerCarousel button:hover{
    background-color: transparent;
}

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
     background-color: #007AFF33;
     border-radius: 50px;
     padding: 10px;
  }
 #bannerCarousel .carousel-inner, 
  #bannerCarousel .carousel-inner img{
    height: 600px;
  }
  
/* menu en movil */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
    padding-top: 50px;
    text-align: center;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
}

.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* popup*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.popup-content h3 {
    margin-bottom: 20px;
    font-size: 16px;
}

.popup-content select {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #003A80;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

/* ********** Paquetes ********** */
.card_pack {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #007AFF;
    margin-top: 100px;
    margin-bottom: 100px;
}

.promo_megas {
    background-color: #F5F6F6;
    color: #007AFF;
    text-align: center;
    padding: 15px;
}

/* Xview */
.xview-container {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.xview-container img,
.promo_partners img {
    width: 100%;
}

/* Beneficios */
.beneficios-pack {
    padding: 0 30px;
}

/* Promo partners*/
.promo_partners {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Precio*/
.package_price {
    display: flex;
    background-color: #f5f6f6;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
}

.price-pack {
    font-size: 40px;
    font-weight: 700;
}

.payment-time {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

/* Popup card btn */
.btn-card {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.openCallPopup {
    width: 100%;
}

.popup-call {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popup-content-call {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    z-index: 10001;
}

.close-popup-call {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10002;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="tel"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}

/* ********** Paquetes ********** */
.str-texts h2 {
    font-size: 48px;
    text-transform: uppercase;
}

.str-texts h2 span {
    color: #EC503C;
}

.str-texts {
    margin-bottom: 100px;
}

#streamings-container {
    gap: 100px;
    width: 65%;
    margin: auto;
}

.str-name {
    display: block;
}

.streaming-content h3 {
    font-size: 20px;
    margin-top: 20px;
    line-height: 32px;
}

/* ********** Servicios ********** */
#services-container {
    gap: 50px;
    margin-top: 150px;
}

.services-content h3 {
    margin-top: 30px;
}

.btn-services {
    margin-top: 10px;
    padding: 10px 50px;
}

/* ********** XVIEW+ ********** */
#xview-container {
    margin-top: 250px;
    margin-bottom: 250px;
    padding: 0;
}

.xview-info {
    background-color: #007AFF;
    width: 45%;
    border-radius: 16px 0 0 16px;
    color: #fff;
    padding: 50px;
}

.btn-xview-cont {
    margin-top: 100px;
}

.btn-xview {
    padding: 10px 50px;
}

.xview-img img {
    border-radius: 16px 0 0 16px;
}

/* ********** Pago en Línea ********** */
.btn-pago {
    background-color: #F5F6F6;
    margin-top: 10px;
}

.pago-texts h2 {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 20px;
}

/* ********** Banners Promo ********** */
#promo-banners {
    margin-top: 150px;
}

.carousel-item {
    height: 450px;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1);
}

/* ********** BPARTICIPA Y GANA ********** */
#quiz-banner {
    margin-top: 150px;
}

/* ********** FOOTER MENU********** */
footer {
    margin-top: 150px;
}

footer h5,
footer h6 {
    font-weight: 600;
    font-size: 16px;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 300;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer-link {
    margin-right: 20px;
}

.footer-black {
    background-color: #000;
    padding: 80px 0;
}

.footer-link h6 {
    color: #fff;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;
}

.footer-link h6:hover {
    text-decoration: underline;
}

.footer-links {
    gap: 70px;

}
.footer-logos{
    margin-top: 100px;
}






/* responsive */

@media (max-width: 1140px) {
    .menu ul {
        gap: 50px;
    }
}

@media (max-width: 950px) {
    .menu ul {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .menu ul {
        display: none;
    }

    .account-actions {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .mobile-menu.show {
        display: block;
    }

    .popup-content-call {
        width: 100%;
        max-width: 90%;
    }

    .popup-content {
        width: 100%;
        max-width: 90%;
    }
}